#root {
  max-width: 100%;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.primary-nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Black background */
  padding: 0.5rem 1rem; /* Adjust the padding as needed */
  color: white;
  z-index: 1000;
}

.primary-nav a {
  color: inherit; /* White text */
  text-decoration: none; /* No underline */
  margin: 0 0.5rem; /* Space between links */
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: flex-end;
}

.nav-link {
  padding: 0.5rem;
  border-radius: 4px; /* Optional: for rounded corners */
}

.nav-link:hover {
  background-color: #1db954; /* Sportify green on hover */
}

/* Additional style for active link */
.nav-link-active {
  font-weight: bold;
  color: #1db954; /* Sportify green for active link */
}